*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    margin: 30px;
}
.shopping-container h2{
    margin-bottom: 10px;
    font-size:30px;
}

ul{
    margin-top: 30px;
}
li{
    margin-bottom: 10px;
}
li button {
    margin-left: 20px;
    color: #666;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;
}
li button:hover{
    background-color: #ddd;
}